@media (max-width: 1440px){}
@media (max-width: 1320px){}
@media (max-width: 1290px){}
@media (max-width: 1170px){
    .container{
        max-width: 1030px;
        width: 100%;
        padding: 0 15px;
        margin: auto;
    }
    .header__main-word{
        position: absolute;
        top: 80px;
    }
    .header__main-text2{
        width: 1000px;
    }
}
@media (max-width: 1140px){}
@media (max-width: 1024px){
    .container{
        max-width: 870px;
        width: 100%;
        padding: 0 15px;
        margin: auto;
    }
    .header__main-word{
        position: absolute;
        top: 50px;
    }
    .header__main-text2{
        width: 800px;
    }
    .main__box{
        width: 48%;
        padding: 16px;
        border: 1px solid white;
        border-radius: 4px;
        background-color: black;
    }
    .main__box-img{
        width: 100%;
    }
    .header__main-title{
        font-size: 72px;
        font-weight: 900;
        color: #69CF17;
        text-align: start;
    }
    .header__main-text1{
        font-size: 36px;
        font-weight: 400;
        color: #69CF17;
        text-align: start;
    }
    .header__main-text2{
        max-width: 1110px;
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: white;
        text-align: start;
        margin: 18px 0 30px;
    }
    .header__main-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__main-button1{
        font-weight: 100;
        font-size: 20px;
        padding: 22px 56px;
        background: rgba(105, 207, 23, 0.5);
        backdrop-filter: blur(18px);
        border: none;
        color: white;
    }
    .header__main-button2{
        font-weight: 400;
        font-size: 14px;
        background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
        border-radius: 6px;
        color: white;
        padding: 10px 50px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 870px;
        width: 100%;
        padding: 0 15px;
        margin: auto;
    }
    .header__main-word{
        position: absolute;
        top: 50px;
    }
    .header__main-text2{
        width: 800px;
    }
    .main__box{
        width: 48%;
        padding: 16px;
        border: 1px solid white;
        border-radius: 4px;
        background-color: black;
    }
    .main__box-img{
        width: 100%;
    }
    .header__main-title{
        font-size: 72px;
        font-weight: 900;
        color: #69CF17;
        text-align: start;
    }
    .header__main-text1{
        font-size: 36px;
        font-weight: 400;
        color: #69CF17;
        text-align: start;
    }
    .header__main-text2{
        max-width: 1110px;
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: white;
        text-align: start;
        margin: 18px 0 30px;
        position: absolute;
        opacity: 0;
    }
    .header__main-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
    }
    .header__main-button1{
        font-weight: 100;
        font-size: 20px;
        padding: 22px 56px;
        background: rgba(105, 207, 23, 0.5);
        backdrop-filter: blur(18px);
        border: none;
        color: white;
    }
    .header__main-button2{
        font-weight: 400;
        font-size: 14px;
        background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
        border-radius: 6px;
        color: white;
        padding: 10px 50px;
    }
}
@media (max-width: 850px){}
@media (max-width: 768px){}
@media (max-width: 736px){
    .container{
        max-width: 600px;
        width: 100%;
        padding: 0 15px;
        margin: auto;
    }
    .header__nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
    }
    .header__nav-link{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 22px;
        text-align: center;  
        color: #FFFFFF;
        background: rgba(10, 148, 24, 0.75);
        padding: 10px 16px;
        border-radius: 4px;
        margin: 4px 0;
    }
    .header__main-word{
        position: absolute;
        top: 20px;
    }
    .header__main-text2{
        width: 550px;
    }
    .main__box{
        width: 48%;
        padding: 16px;
        border: 1px solid white;
        border-radius: 4px;
        background-color: black;
    }
    .main__box-img{
        width: 100%;
    }
    .header__main-title{
        font-size: 40px;
        font-weight: 900;
        color: #69CF17;
        text-align: start;
    }
    .header__main-text1{
        font-size: 22px;
        font-weight: 400;
        color: #69CF17;
        text-align: start;
    }
    .header__main-text2{
        max-width: 6000px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: white;
        text-align: start;
        margin: 18px 0 30px;
        position: absolute;
        opacity: 0;
    }
    .header__main-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        padding: -15px;
    }
    .header__main-button1{
        font-weight: 100;
        font-size: 20px;
        padding: 22px 56px;
        background: rgba(105, 207, 23, 0.5);
        backdrop-filter: blur(18px);
        border: none;
        color: white;
    }
    .header__main-button2{
        font-weight: 400;
        font-size: 14px;
        background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
        border-radius: 6px;
        color: white;
        padding: 10px 50px;
    }
}
@media (max-width: 734px){}
@media (max-width: 684px){}
@media (max-width: 667px){}
@media (max-width: 576px){
    .container{
        max-width: 600px;
        width: 100%;
        padding: 0 15px;
        margin: auto;
    }
    .header__nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        opacity: 0;
    }
    .header__nav-link{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        text-align: center;  
        color: #FFFFFF;
        background: rgba(10, 148, 24, 0.75);
        padding: 10px 16px;
        border-radius: 4px;
        margin: 4px 0;
    }
    .header__main-word{
        position: absolute;
        top: 20px;
    }
    .header__main-text2{
        width: 550px;
    }
    .main__box{
        width: 48%;
        padding: 16px;
        border: 1px solid white;
        border-radius: 4px;
        background-color: black;
    }
    .main__box-img{
        width: 100%;
    }
    .header__main-title{
        font-size: 40px;
        font-weight: 900;
        color: #69CF17;
        text-align: start;
    }
    .header__main-text1{
        font-size: 22px;
        font-weight: 400;
        color: #69CF17;
        text-align: start;
    }
    .header__main-text2{
        max-width: 6000px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: white;
        text-align: start;
        margin: 18px 0 30px;
        position: absolute;
        opacity: 0;
    }
    .header__main-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
    }
    .header__main-button1{
        font-weight: 100;
        font-size: 20px;
        padding: 22px 56px;
        background: rgba(105, 207, 23, 0.5);
        backdrop-filter: blur(18px);
        border: none;
        color: white;
    }
    .header__main-button2{
        font-weight: 400;
        font-size: 14px;
        background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
        border-radius: 6px;
        color: white;
        padding: 10px 50px;
    }
}
@media (max-width: 480px){}
@media (max-width: 414px){}
@media (max-width: 412px){}
@media (max-width: 375px){}
@media (max-width: 360px){}
@media (max-width: 320px){}